body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    
}

.text-primary {
    color: green;
}

.title {
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-grow: 1; 
    padding-right: 130px
}

.nav-links li{
    margin-left: 40px;
    font-size:30px ;
}

.sign-in {
    margin-left: auto;
}
.lol{
    align-content: end ;
    display: flex;
}
.btn-primary{
    border-radius: 95px;
    background: crimson;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 100;

}